* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    background-color: #ebad04;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px;
}

#menu {
    display: flex;
    gap: 5px;
}

#menu a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 20px;
    border-bottom: solid 3px transparent;
}

#menu a:hover {
    border-bottom: solid 3px #fec400;
    transition: all 0.5s ease;
}

#search {
    display: flex;
}

#search input {
    background-color: #ffc603;
    font-size: 18px;
    padding: 10px;
    color: #000;
    outline: none;
}

#search span {
    background-color: #2882ff;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#search input:focus {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    transition: all 0.5s ease;
}

#capa {
    background-color: #fec400;
    padding: 60px 100px;
    display: flex;
    gap: 50px;
    align-items: center;
}

#texto {
    width: 50%;
}

#texto h1 {
    color: #fff;
    margin-bottom: 50px;
}

#texto p {
    color: #fff;
    font-variant: 20px;
    margin-bottom: 50px;
}

#botoes {
    display: flex;
    gap: 20px;
}

#primario {
    background-color: #2882ff;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: solid 3px #2882ff;
}

#primario:hover {
    background-color: #1b5db1;
    border: solid 3px #1b5db1;
    transition: all 0.5s ease;
}

#secundario {
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: solid 3px #ffff;
}

#secundario:hover {
    background-color: #fff;
    color: #000;
    border: solid 3px #fff;
    transition: all 0.5s ease;
}

#imagem {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
#imagem img{
    width: 90%;
}
#capa-video{
    background-color: #fff;
    padding: 60px 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}
#capa-video #texto h1, #capa-video #texto p{
    color: #000;
}
#capa-video #texto #primario{
    background-color: #fec400;
    border: solid 3px #fec400;
}
#capa-video #texto #primario:hover{
    background-color: #dba802;
    border: solid 3px #dba802;
    transition: all 0.5s ease;
}
